# {{project_name}}

[![badge_documentation][]][documentation] [![badge_pipeline][]][pipeline] [![badge_coverage][]][coverage] [![badge_maintainability][]][pipeline]

[documentation]: {{remote_url_pages}}
[badge_documentation]: https://img.shields.io/badge/Documentation-{{default_branch}}-blue
[coverage]: {{remote_url_pages}}/coverage
[badge_coverage]: {{remote_url_coverage_badge}}
[badge_pipeline]: {{remote_url_pipeline_badge}}
[pipeline]: {{remote_url_pipeline}}
[badge_maintainability]: {{remote_url_pages}}/badges/maintainability.svg

<!-- TODO: extend readme template -->

## Installation

```console
pip install git+{{ remote_url_https }}
```

## Usage

Call the `{{ cli_command }}` command line interface like this:

```console
$ {{ cli_command }}
Hello, {{project_name}}!
```

Provide the `--help` option to see supported options and arguments.

---
*This project was created using the [Project Template for Python](
{%- if remote == 'github' -%}
https://github.com/jannismain/python-project-template
{%- elif remote == 'gitlab-iis' -%}
https://git01.iis.fhg.de/mkj/project-template
{%- elif remote == 'gitlab-fhg' -%}
https://gitlab.cc-asp.fraunhofer.de/mkj/project-template
{%- endif -%}
)*
